/* Custom size for the navbar logo */


/* Show the dropdown menu when hovering over the dropdown item */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    /* Ensure visibility */
}

/* Optional: Add a slight delay for better user experience */
.nav-item.dropdown {
    position: relative;
    /* Necessary for absolute positioning of the dropdown */
}

.red-color {
    background-color: var(--ws-text-red);
}

.red-text {
    color: var(--ws-text-red);
}

.black-text {
    color: var(--bs-body-color);
}

#MobileSidebar ul li a {
    font-size: 0.875rem;
}

#MobileSidebar svg {
    height: 1.1rem;
    width: 1.1rem;
}

.navbar-toggler svg {
    height: 1.25rem;
    width: 1.25rem;
}



/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #MobileSidebar ul li a {
        font-size: 0.95rem;
    }

    .navbar {
        --bs-nav-link-font-size: 0.95rem;
    }

    .navbar-toggler svg {
        height: 1.5rem;
        width: 1.5rem;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}