.red-color {
    background-color: var(--ws-text-red);
}

.red-text {
    color: var(--ws-text-red);
}

.black-text {
    color: var(--bs-body-color);
}

svg {
    height: 1.06rem;
    width: 1.06rem;
}

.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.b-example-divider {
    height: 0.8rem;
    border-width: 1px 0;
    /* box-shadow: 0 2px 10px rgb(0 0 0 / 11%); */
    background-color: rgba(0, 0, 0, .1);
}



/* _________NAVBAR___________ */

/* Show the dropdown menu when hovering over the dropdown item */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    /* Ensure visibility */
}

/* Optional: Add a slight delay for better user experience */
.nav-item.dropdown {
    position: relative;
    /* Necessary for absolute positioning of the dropdown */
}

.navbar-toggler svg {
    height: 1.15rem;
    width: 1.15rem;
}

.nav-divider {
    border-color: rgba(255, 255, 255, .2);
    height: 2rem;
    border-left: .1rem solid rgba(0, 34, 28, .1);
    margin: 0 .5rem;
}

.advertise {
    margin-left: 0.5rem;
}

/* ______CIRCLE_AVATAR____ */
.avatar {
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
}


/* _________MOBILE_SIDEBAR_________ */


/* ________SEARCH_BAR________ */
.search-bar {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 49%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
}

.search-input {
    padding: 0.6rem .875rem;
    padding-left: 40px;
    border: 1px solid #717171;
    font-size: 0.85rem;
    /* box-shadow: 0 1px 2px 0 rgba(48, 48, 48, .30), 0 1px 3px 1px rgba(48, 48, 48, .15); */

}

/* _________MOBILE_SIDEBAR_________ */
#MobileSidebar ul li a {
    font-size: 0.85rem;
}





/* ______LOGIN_SIGNUP_OTP_MODAL__________ */

.modal-content {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.otp-input {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.otp-input input {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s;
}

.otp-input input:focus {
    border-color: #007bff;
    outline: none;
}


.resend-link {
    text-align: center;
    margin-top: 1rem;
}

.resend-link a {
    font-weight: 500;
}

.resend-link a:hover {
    text-decoration: underline;
}






/* __________SERVICE_CARDS_______ */

.icon-card {
    /* background-color: #f8f9fa; */
    padding: 0.5rem;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    box-shadow: var(--bs-box-shadow-sm) !important;
    border-radius: var(--bs-border-radius) !important
}





/* .img-icon { */
/* padding: 1rem 1rem 1rem 1rem; */
/* box-shadow: 0 1px 2px 0 rgba(48, 48, 48, .30), 0 1px 3px 1px rgba(48, 48, 48, .15); */
/* border: 0.1rem solid rgb(232, 232, 232); */
/* border-radius: 20px; */
/* } */

.service-img {
    max-width: 2.5rem;
    height: auto;
    object-fit: contain;


    /* Avoid image distortion */
}


.icon-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    /* Shadow on hover */
    transform: translateY(-2px);
    /* Slight lift on hover */
}

.icon-card:active {
    transform: scale(0.98) translateY(0);
    /* Scale down slightly on click */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    /* Shadow changes on click */
}


.icon-card h6 {
    color: #1C1C1C;
    font-weight: 500;
    font-size: 0.75rem;
    margin-top: 0.8rem;
}

#advertisement-carousel img {
    cursor: pointer;

}

.image-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition */
}

/* Lift-Up Effect on Hover */
.image-hover:hover {
    transform: translateY(-10px);
    /* Lifts image up */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    /* Adds shadow for depth */
}

.heading {
    display: block;
    color: #1C1C1C;
    letter-spacing: .03125rem;
    font-size: 1rem;
}

.heading-bottom-address {
    color: #51596C;
    padding-bottom: 1rem;
    font-size: 0.8rem;
}


/* ___SHOP__CARD___ */

/* Individual Card Styling */

.best-shops {
    overflow-x: hidden;
}

.shop-card {
    border-radius: 8px;
    transition: transform 0.3s ease;
   
    box-shadow: 0 2px 10px rgb(0 0 0 / 11%)
}

.shop-card.width{
    min-width: 20rem;
    max-width: 20rem;
}



.shop-card .bi-patch-check-fill,
.bi-star-fill {
    height: 0.8rem;
    width: 0.8rem;
}

.shop-badge {
    /* background-color: rgba(81, 89, 108, .1) !important; */
    /* color: rgba(81, 89, 108, 1); */
    border-radius: 0.3125rem;
    font-size: 0.7rem;
}



/* Card Image */
.shop-card-image {
    width: 100%;
    height: 10rem;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}



.shop-card-title {
    color: #333;
    margin-bottom: 0.50rem;
    line-height: 1.3;
    font-size: 0.8rem;
    font-weight: 600;
}

.shop-card-description {
    color: #555;
    font-size: 0.8rem;
    margin-bottom: 0.40rem;
}


/* MOBILE_DEVICE */
.device-frame {
    width: calc(70vh * 0.5);
    /* Maintain aspect ratio (9:18) */
    height: 70vh;
    /* Responsive height based on viewport */
    background: #000;
    border-radius: 35px;
    padding: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-frame::before {
    content: '';
    width: 80px;
    height: 6px;
    background: #333;
    border-radius: 3px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.screen {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: #fff;
    overflow: hidden;
}

.screenshot {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.device-frame::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 6px;
    background: #333;
    border-radius: 10px;
}

.register-shop h1 {
    font-size: 1.5rem;
}

.register-shop p,
button {
    font-size: 1rem;
}

/* PROMOTIONAL_SECTION */

.wheelstore-services a {
    font-size: 0.9rem;
}

.wheelstore-services a:hover {
    color: #005c45;
}



.wheelstore-services p {
    font-size: 0.85rem;
    line-height: 1.7;
}

/* FOOTER */

.language-btn {
    width: 7.5rem;
}

.footer .nav-item {
    font-size: 0.85rem;
}

.footer .nav-link:hover {
    font-weight: 500;
}

.homepage .carousel-item {
    height: 20vh;
}





@media (min-width: 450px) {
    .homepage .carousel-item {
        height: 25vh;
    }
}

@media (min-width: 550px) {
   .homepage .carousel-item {
        height: 28vh;
    }
}

@media (min-width: 600px) {
    .homepage .carousel-item {
        height: 30vh;
    }
}

@media (min-width: 650px) {
   .homepage .carousel-item {
        height: 35vh;
    }
}


/* Category-Shop Page */
.sortandfilter .nav-link {
    font-size: 0.85rem;
}


.sort.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
}

.sort.dropdown {
    position: relative;
}

.shop-type.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
}

.shop-type.dropdown {
    position: relative;
}

.vehicle-type.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
}

.vehicle-type.dropdown {
    position: relative;
}

.filter-desktop .dropdown-menu {
    width: 15rem;
}

.selected-filters {
    background-color: rgba(243, 244, 246, 1);
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.shop-lists .shop-card{
    margin-bottom: 1rem;
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


    svg {
        height: 1.2rem;
        width: 1.2rem;
    }


    .btn {
        --bs-btn-font-size: 1rem;
    }

    .form-control,
    .form-control-sm {
        font-size: 0.95rem;
    }

    .section {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .heading {
        font-size: 1.1rem;
    }



    .heading-bottom-address {
        padding-bottom: 1.5rem;
        font-size: 0.9rem;
    }



    /* _________NAVBAR___________ */
    .navbar {
        --bs-nav-link-font-size: 0.95rem;
    }

    .navbar-toggler svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    .dropdown-menu {
        --bs-dropdown-font-size: 0.95rem;
    }

    .advertise {
        margin-left: 0.8rem;
        font-size: 0.9rem;
    }

    .homepage .carousel-item {
        height: 40vh;
    }



    /* _______SEARCH_BAR___ */
    .search-icon {
        left: 20px;
    }

    .search-input {
        padding: 0.67rem .875rem;
        padding-left: 50px;
    }



    /* _________MOBILE_SIDEBAR_________ */
    #MobileSidebar ul li a {
        font-size: 0.95rem;
    }


    /* SERVICE_CARDS */
    .icon-card h6 {
        font-size: 0.9rem;
    }

    /* __SHOP__CARD__ */

    .shop-card.width {
        min-width: 20rem;
        max-width: 22rem;
    }

    .shop-card-title,
    .shop-card-description {
        font-size: 0.9rem;
    }

    .shop-badge {
        font-size: 0.75rem;
    }

    /* REGISTER_SHOP */

    .register-shop h1 {
        font-size: 2rem;
    }

    .register-shop p,
    button {
        font-size: 1.3rem;
    }

    /* FAQ */
    .accordion-button {
        font-size: 1rem;
    }

    .accordion-body {
        font-size: 0.95rem;
    }

    .faq {
        width: 90%;
    }

    /* PROMOTIONAL_SECTION */

    .wheelstore-services a {
        font-size: 1rem;
    }

    .wheelstore-services p {
        font-size: 0.90rem;
    }


    /* FOOTER */
    .footer .nav-link {
        font-size: 0.95rem;
    }


    /* All Category Page */

    .breadcrumb {
        --bs-breadcrumb-font-size: 0.85rem;
    }

    .sortandfilter .nav-link {
        font-size: 0.95rem;
    }





}


@media (min-width: 850px) {
   .homepage .carousel-item {
        height: 45vh;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .section {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .badge {
        --bs-badge-font-size: 0.9rem;
    }

    .form-control,
    .form-control-sm {
        font-size: 1rem;
    }


    .heading {
        font-size: 1.3rem;
    }




    .heading-bottom-address {
        padding-bottom: 2rem;
        font-size: 0.95rem;
    }

    /* _________NAVBAR___________ */
    .navbar {
        --bs-nav-link-font-size: 1rem;
    }


   .homepage .carousel-item {
        height: 40vh;
    }





    /* SERVICE_CARDS */
    .icon-card h6 {
        font-size: 1rem;
        margin-top: 1rem;
    }

    /* SHOP_CARDS */

    .shop-card.width {
        min-width: 21rem;
        max-width: 25rem;
    }

    .nearby-shops .container {
        max-width: fit-content;
    }

    /* REGISTER_SHOP */
    .device-frame {
        width: calc(80vh * 0.5);
        /* Maintain aspect ratio (9:18) */
        height: 80vh;
    }

    /* FAQ */

    .faq {
        width: 80%;
    }

    .accordion-body {
        font-size: 1rem;
    }

    .breadcrumb {
        --bs-breadcrumb-font-size: 0.9rem;
    }

    

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}