/* Index.html page */

.hero-container {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.section-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-seperator {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mobile-sidebar a {
    font-size: 0.875rem;
}



.language-change-mobile {
    font-size: 0.8rem;
    color: #fff;
}

.language-change-mobile:hover {
    color: #fff;
}

.offcanvas-title {
    font-size: 1.25rem;
    font-weight: 500;
}





/* Detect Location Link Styling */
.detect-location-link {
    display: inline-block;
  
    color: #007bff;
    /* Bootstrap primary color */
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

/* Hover Effect for the Link */
.detect-location-link:hover {
    color: #0056b3;
    /* Darker shade on hover */
    text-decoration: underline;
    /* Underline on hover */
}


.icon-card {
    background-color: #f8f9fa;
    padding: 0.5rem;
    transition: box-shadow 0.3s ease;
    /* Smooth shadow transition */
    cursor: pointer;
    /* Pointer cursor on hover */
    height: 100%;
    /* Make cards take full height of their grid cell */
    /* Minimum height to accommodate text */
    display: flex;
    /* Flexbox for vertical alignment */
    flex-direction: column;
    /* Column layout for icon and text */
    align-items: center;
    /* Center align items */
    justify-content: center;
    /* Center items vertically */


}

.icon-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* Shadow on hover */
}

/* Ensuring image is responsive and centered */
.service-img {
    max-width: 2.5rem;
    /* Adjust width as needed for proportional size */
    height: auto;
    /* Maintain aspect ratio */
}

/* Icon styles */
.icon {
    font-size: 40px;
    /* Larger icon size */
    color: #223B41;
    /* Bootstrap primary color */
}


.icon-card h6 {
    color: #223B41;
    font-size: 0.75rem;

}



/* Responsive styles */
@media (max-width: 576px) {
    .icon {
        font-size: 1.5rem;
        /* Smaller icons on small screens */
    }

}

.heading-hero {
    font-size: 1.25rem;
    font-weight: 500;
}

.search-box-hero .btn-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.search-box-hero input::placeholder {
    font-size: 0.875rem;
}


/* Slider Container */
.slider-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* Prevents vertical scroll */
    gap: 1.2rem;
    scroll-snap-type: x mandatory;
    max-width: 100%;
    padding-bottom: 2rem;

}



/* Individual Card Styling */
.shop-card {
    flex: 0 0 200px;
    /* Fixed width for cards in slider */
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
    min-width: 20rem;
    max-width: 20rem;
}




/* Card Image */
.shop-card-image {
    width: 100%;
    height: 10rem;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}



.shop-card-title {
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 8px;
    line-height: 1.3;
    font-weight: 600;
}

.shop-card-description {
    font-size: 0.8rem;
    color: #555;

}

.register-your-shop p {
    font-size: 0.8rem;
}

.register-your-shop li {
    font-size: 0.85rem
}

.register-your-shop .register-shop-btn {
    font-size: 0.9rem;
}


.frequently-asked-questions .accordion-button,
.frequently-asked-questions .accordion-body {
    font-size: 0.85rem;
}


.text-cap {
    padding-top: 1rem;
}

.heading-bottom-address {
    font-size: 0.8rem;
    color: #51596C;
    margin-bottom: 2rem;
}

.step-title {
    font-size: 0.9rem;
    transition: color 0.2s;
    /* Smooth transition for color change */
}

.step-text {
    font-size: 0.8rem;
    transition: color 0.2s;
}

/* Hover effect */
.step-item:hover .step-title {
    color: #008060;
}

.step-item:hover .step-text {
    color: #008060;
}

.link-sm {
    font-size: 0.8rem;
}


#signupModal .form-label {
    font-size: 0.85rem
}

#signupModal .form-check-label {
    font-size: 0.85rem
}

#signupModal p {
    font-size: 0.85rem;
}

#signupModal .submit-btn {
    font-size: 0.9rem;
}





/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .icon {
        font-size: 50px;
        /* Increase icon size for larger screens */
    }

    .icon-card h6 {
        font-size: 1rem;
        /* Standard font size for titles */
    }

    .content-space-1 {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important
    }

    /* Individual Card Styling */
    .shop-card {
        min-width: 20rem;
        max-width: 40rem;
    }

    .shop-card-title {
        font-size: 0.9rem;
        font-weight: 550;

    }

    .shop-card-description {
        font-size: 0.8rem;
    }

    .hero-container {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }

    .heading-hero {
        font-size: 1.7rem;
    }


    .search-box-hero input::placeholder {
        font-size: 1rem;
    }

    .text-cap {
        font-size: 1.3rem;
        padding-top: 1.5rem;
    }

    .heading-bottom-address {
        font-size: 0.9rem;
    }

    .link-sm {
        font-size: 0.9rem;
    }


    #signupModal .form-label {
        font-size: 0.95rem
    }

    #signupModal .form-check-label {
        font-size: 0.95rem
    }

    #signupModal p {
        font-size: 0.95rem;
    }

    #signupModal .submit-btn {
        font-size: 1rem;
    }

    .form-label-link {
        font-size: 0.95rem;
    }

    .form-control-sm {
        font-size: 0.95rem;
    }
    .input-group-text{
        font-size: 0.95rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar {
        --bs-navbar-padding-y: 0rem;
    }

    .section-padding {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .heading-hero {
        font-size: 2rem;
    }

    .shop-card-title {
        font-size: 1rem;
    }

    .shop-card-description {
        font-size: 0.9rem;
    }

    .register-your-shop p {
        font-size: 1rem;
    }

    .register-your-shop li {
        font-size: 1rem
    }

    .frequently-asked-questions .accordion-button,
    .frequently-asked-questions .accordion-body {
        font-size: 1rem;
    }

    .text-cap {
        font-size: 1.5rem;
        padding-top: 3rem;
        margin-bottom: 0.2rem;

    }

    .heading-bottom-address {
        font-size: 1rem;
        margin-bottom: 2rem;
    }



    .hero-container {
        padding-bottom: 2rem;
    }

    .step-title {
        font-size: 1rem;
    }

    .step-text {
        font-size: 0.9rem;
    }

    .register-your-shop .register-shop-btn {
        font-size: 1rem;
    }

    .link-sm {
        font-size: 1rem;
    }



    #signupModal .form-label {
        font-size: 1rem
    }

    #signupModal .form-check-label {
        font-size: 1rem
    }

    #signupModal p {
        font-size: 1rem;
    }

    #signupModal .submit-btn {
        font-size: 1rem;
    }

    .form-label-link {
        font-size: 1rem;
    }

    .form-control-sm {
        font-size: 1rem;
    }

    .input-group-text{
        font-size: 1rem;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}